$green-tile: #E4F2EE;
$green-light: #336557;
$green-dark: #030;
$blue-light: #B0CBEA;
$blue-dark: #0079C1;
$orange-dark: #B05B2C;
$orange-light: #CF875E;
$orange-bright: #db6d16;
$black-type: #4C4C4C;
$black-bone: #000000;
$white-chalk: #FFFFFF;
$gray-watermark: #c9c9c9;
$gray-shadow: #DDD;
