@import 'type';

*{
	margin:0;
	padding:0;
	border:0;
}

body{
	font-family:'Rosario',sans-serif;
	font-size:15px;
	line-height:100%;
	color:#4c4c4c;
	color:rgba(0,0,0,0.8);
}

a{
	color:#030;
	color:rgba(0,63,45,0.8);
	text-decoration:underline;
	&:hover{
		color:#336557;
		color:rgba(0,63,45,1);
	}
}



.radiused{
	border-radius:5px;
}

h2{
	margin-bottom:15px;
}

h4{
	padding-bottom:10px;
}

p{
	margin-bottom:10px;
}

#page-container{
	width:960px;
	margin:auto;
}

#header{
	margin-top:10px;
	height:180px;
}

#header-left{
	width:275px;
	height:125px;
	padding-left:28px;
	padding-top:40px;
}

#header-right{
	float:right;
	width:618px;
	height:162px;
	padding-top:10px;
	padding-right:10px;
}

#main-nav{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 30px;
	margin-bottom: 30px;
	position: relative;
	width: 960px;
	box-shadow: 0 5px 10px #ddd;
}

.nav{
	height:30px;
	background-color:#030;
	li{
		float:left;
		list-style-type:none;
		a {
			background-color:#030;
			font-size:16px;
			color:#fff;
			display:block;
			line-height:30px;
			padding:0 30px;
			text-decoration:none;
			border-right:1px solid #fff;
			-webkit-transition:all .2s ease .1s;
			-moz-transition:all .2s ease .1s;
			-o-transition:all .2s ease .1s;
			transition:all .2s ease .1s;
			&:hover {
				background-color:#336557;
				text-shadow:0 1px 0 rgba(0,0,0,0.2);
			}
			&.active{
				color:#000;
				background-color:#e4f2ee;
				text-shadow:0 1px 0 rgba(255,255,255,0.6);
			}
		}
	}
}

.navone{
	width:670px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	position:absolute;
	left:0;
}

.navtwo{
	width:300px;
	float:right;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	position:absolute;
	right:0;
	li{
		float:right;
	}
}


#a_about{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

#a_contact{
	border-right:4px solid #fff;
}

#a_donate{
	background-color:#B05B2C;
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
	border-right:0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

#a_donate:hover{
	background-color:#CF875E;
	color:#000;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}

#a_join{
	background-color:#0079c1;
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
	border-left:4px solid #fff;
}

#a_join:hover,#a_join.active{
	background-color:#b0cbea;
	color:#000;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}


#sidebar-a {
	float:right;
	margin-top:12px;
	padding-right:10px;
	padding-left:10px;
	line-height:23px;
	width:220px;
	font-size:15px;
	color:#000;
	color:rgba(0,0,0,0.7);
	.home{
		margin-top:50px;
		margin-right:10px;
		padding:10px;
	}
	.firma{
		margin-top:10px;
		padding-left:80px;
		text-align:left;
		font-size:13px;
		line-height:16px;
	}
	.firma-news{
		padding-left:105px;
	}
}

blockquote{
	font-size:15px;
	font-style:italic;
	line-height:1.45;
	position:relative;
	margin:.25em 0;
	padding:.35em 30px;
	padding-right:0;
	padding-top:0;
	margin-top:0;
	margin-bottom:0;
	&:before{
		display:block;
		padding-left:10px;
		content:"\201C";
		font-size:60px;
		position:absolute;
		left:-20px;
		top:-20px;
		color:#7a7a7a;
	}
}

#sidebar-a.about{
	padding:20px;
	padding-left:30px;
	padding-right:30px;
	margin-top:15px;
	width:205px;
}

#sidebar-a.about.contact{
	margin-bottom:20px;
}

#sidebar-a.join{
	color:#4c4c4c;
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	margin-bottom:20px;
	margin-top:40px;
	box-shadow: 0 5px 10px #ddd;
}

#sidebar-a.join p.first{
	margin-top:5px;
}

.pay_button{
	padding-top:5px;
	padding-bottom:10px;
}

.quote_home{
	float:right;
	margin-top:55px;
	margin-bottom:0;
	padding:20px;
	width:200px;
	line-height:23px;
	font-size:15px;
	color:#000;
	color:rgba(0,0,0,0.7);
}


#content{
	margin-left:0;
	margin-right:320px;
	padding-left:10px;
	line-height:21px;
	text-align:left;
	ul{
		margin-bottom:10px;
		padding-left:15px;
	}
	.mission{
		font-size:23px;
		line-height:30px;
		text-align:left;
		margin-bottom:30px;
		padding-right:135px;
	}
}

#contentwo{
	margin-right:0;
	margin-bottom:20px;
	margin-top:20px;
	line-height:20px;
	li{
		padding-bottom:5px;
	}
}


#image-container{
	float:right;
	float:left;
	width:200px;
	margin-top:40px;
	margin-left:10px;
}

#img-blueprint{
	border:rgba(0,0,0,0.5);
	border-style:solid;
	border-width:1px;
	box-shadow: 0 5px 10px #ddd;
	-webkit-transition:all .1s ease .1s;
	-moz-transition:all .1s ease .1s;
	-o-transition:all .1s ease .1s;
	transition:all .1s ease .1s;
}


#content.content_steering{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	line-height:21px;
}

#content.content_steering.quote{
	float:right;
	padding-left:10px;
	width:300px;
	margin-bottom:30px;
}

.top{
	float:left;
	padding-left:10px;
	width:480px;
	margin-bottom:30px;
}

.column1{
	float:left;
	width:480px;
	padding:20px;
	margin-bottom:30px;
	text-align:left;
}

.column1.about{
	width:630px;
	padding-left:10px;
	padding-top:0;
	margin-bottom:10px;
	text-align:left;
}

.column2{
	float:right;
	width:400px;
	padding:10px;
	padding-top:20px;
	margin-bottom:10px;
	text-align:left;
}

.shaded{
	background-color:#e4f2ee;
	border-radius:5px;
	box-shadow: 0 5px 10px #ddd;
}

.shadowed{
	box-shadow: 0 5px 10px #ddd;
}

.steer1{
	float:left;
	width:480px;
	margin-bottom:20px;
}

.steer2{
	width:480px;
	float:right;
	margin-bottom:20px;
}

.tile{
	float:left;
	width:420px;
	margin: 5px;
	margin-bottom:10px;
	padding:20px;
	padding-left:20px;
	background-color:#e4f2ee;
	color:#000;
	color:rgba(0,0,0,0.8);
	border-radius:5px;
	box-shadow: 0 5px 10px #ddd;
}

 .tile p::first-letter{
 	font-size:25px;}

.white{
	background-color: #fff;
}

#ul_news_links{
	width:500px;
	list-style-type:none;
	padding:0!important;
	padding-top:10px!important;
	li {
		padding:5px;
		padding-left:0;
		a{
			border-radius:5px;
			padding:3px;
			padding-left:20px;
			padding-right:30px;
			text-decoration:none;
			-webkit-transition:all .2s ease .1s;
			-moz-transition:all .2s ease .1s;
			-o-transition:all .2s ease .1s;
			transition:all .2s ease .1s;
			&:hover{
				text-decoration:underline;
			}
		}
	}
}


.cols {
	width:280px;
	float:left;
	margin:10px;
	margin-bottom:30px;
	padding:10px;
	border-radius:5px;
	ul{
		margin-bottom:10px;
		padding-left:15px;
	}
}


#footer {
	margin-top:30px;
	border-top:1px solid #efefef;
	padding:15px 10px;
	clear:both;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:18px;
	color:#c9c9c9;
	a {
		color:#c9c9c9;
		text-decoration:none;
		&:hover {
			color:#db6d16;
		}
	}
	#alt-nav{
		width:350px;
		float:right;
		text-align:right;
	}
}
input[type=text],input[type=password]{
	background-color:#fff;
	border:solid 1px #4c4c4c;
	height:28px;
	padding-left:10px;
	width:191px;
}

input[type=text]:focus,input[type=password]:focus{
	border-color:#2f903a;
}

input[type=submit]{
	background-color:#B05B2C;
	color:#fff;
	height:24px;
	width:103px;
	text-transform:uppercase;
	box-shadow:-1px 1px #CF875E inset;
}

input[type=submit],input[type=text],input[type=password]{
	border:1px;
	border-radius:5px;
	float:right;
}

.left_nav{
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	padding:20px;
	width:200px;
	line-height:23px;
	font-size:17px;
	color:#000;
	color:rgba(0,0,0,0.5);
}

#forgot_pwd{
	font-size:14px;
}

#error{
	display:block;
	margin:5px;
	color:#4d4948;
	background-color:#fffebe;
	border:1px solid #cbcbcb;
	font-size:90%;
}

#success{
	margin:5px;
	color:#4d4948;
	background-color:#bce9b5;
	border:1px solid #7ace6c;
	font-size:90%;
}

.ruler{
	border-top:3px solid #fff;
	margin:0 -5px 10px -5px;
}

.gray{
	border-color:#e4f2ee;
}
